
h1 {
	text-align: center;
}

table {
  	padding-right: 10px;
    padding-bottom: 300px;
    margin: auto;
}
  

#td1 {
	width:100px;
	height: 100px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-top: 1px solid white;
	
}

#td2 {
	width:100px;
	height: 100px;
	border-bottom: 1px solid black;
	
}

#td3 {
	width:100px;
	height: 100px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	
}

#td4 {
	width:100px;
	height: 100px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	
}

#td5 {
	width:100px;
	height: 100px;
	border-bottom: 1px solid black;
	border-top: 1px solid white;
	
}

#td6 {
	width:100px;
	height: 100px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	
}

#td7 {
	width: 100px;
	height: 100px;
	border-right: 1px solid black;
	border-bottom: 1px solid white;
	
}

#td8 {
	width: 100px;
	height: 100px;
	border-bottom: 1px solid white;
	
}

#td9 {
	width: 100px;
	height: 100px;
	border-left: 1px solid black;
	border-bottom: 1px solid white;
	
}












